[submodule "Assets/jp.ootr.common"]
	path = Assets/common
	url = https://github.com/o-tr/jp.ootr.common
[submodule "Assets/jp.ootr.ImageDeviceController"]
	path = Assets/imagedevicecontroller
	url = https://github.com/o-tr/jp.ootr.ImageDeviceController
[submodule "Assets/jp.ootr.ImageGimmicksPack"]
	path = Assets/imagegimmickspack
	url = https://github.com/o-tr/jp.ootr.ImageGimmicksPack
[submodule "Assets/jp.ootr.ImageScreen"]
	path = Assets/imagescreen
	url = https://github.com/o-tr/jp.ootr.ImageScreen
[submodule "Assets/jp.ootr.ImageSlide"]
	path = Assets/imageslide
	url = https://github.com/o-tr/jp.ootr.ImageSlide
[submodule "Assets/jp.ootr.ImageTab"]
	path = Assets/imagetab
	url = https://github.com/o-tr/jp.ootr.ImageTab
[submodule "Assets/jp.ootr.UdonLZ4"]
	path = Assets/udonlz4
	url = https://github.com/o-tr/jp.ootr.UdonLZ4
[submodule "Assets/jp.ootr.UdonZip"]
	path = Assets/udonzip
	url = https://github.com/o-tr/jp.ootr.UdonZip
[submodule "Assets/jp.ootr.WeatherWidget"]
	path = Assets/weatherwidget
	url = https://github.com/o-tr/jp.ootr.WeatherWidget
[submodule "Assets/jp.ootr.ImageDeviceControllerVisualizer"]
	path = Assets/imagedevicecontrollervisualizer
	url = https://github.com/o-tr/jp.ootr.ImageDeviceControllerVisualizer
[submodule "Assets/jp.ootr.ImageGallery"]
	path = Assets/jp.ootr.ImageGallery
	url = https://o-tr@github.com/o-tr/jp.ootr.ImageGallery
